# Node.js
node_modules/
.env
.DS_Store
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# Logs
logs/
*.log
# Build artifacts
dist/
build/
# IDE and OS specific files
.vscode/
.idea/
.project
.settings/
Thumbs.db
dist
.turbo
out