@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

:root {
  --background: #ffffff;
  --foreground: #000000;
  --card: #ffffff;
  --card-foreground: #000000;
  --popover: #ffffff;
  --popover-foreground: #000000;
  --primary: #0b00a3;
  --primary-foreground: #ffffff;
  --secondary: #f5f5fb;
  --secondary-foreground: #000000;
  --muted: #fbfbfd;
  --muted-foreground: #666666;
  --accent: #e5e4f8;
  --accent-foreground: #000000;
  --destructive: #f8f82b;
  --destructive-foreground: #ffffff;
  --border: #e7e6f4;
  --input: #f5f5fb;
  --ring: #0b00a3;
  --chart-1: #0b00a3;
  --chart-2: #0d00d8;
  --chart-3: #2f23ea;
  --chart-4: #655ced;
  --chart-5: #9c96f5;
  --sidebar: #efeffb;
  --sidebar-foreground: #000000;
  --sidebar-primary: #0b00a3;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e5e4f8;
  --sidebar-accent-foreground: #000000;
  --sidebar-border: #e7e6f4;
  --sidebar-ring: #0b00a3;
  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.07);
  --shadow-sm: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.15),
    1px 1px 2px -1px hsl(245 100% 32.9412% / 0.15);
  --shadow: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.15),
    1px 1px 2px -1px hsl(245 100% 32.9412% / 0.15);
  --shadow-md: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.15),
    1px 2px 4px -1px hsl(245 100% 32.9412% / 0.15);
  --shadow-lg: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.15),
    1px 4px 6px -1px hsl(245 100% 32.9412% / 0.15);
  --shadow-xl: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.15),
    1px 8px 10px -1px hsl(245 100% 32.9412% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(245 100% 32.9412% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: #10052e;
  --foreground: #5555ff;
  --card: #0f0630;
  --card-foreground: #5555ff;
  --popover: #0f0630;
  --popover-foreground: #5555ff;
  --primary: #5555ff;
  --primary-foreground: #10052e;
  --secondary: #1b076f;
  --secondary-foreground: #5555ff;
  --muted: #14054a;
  --muted-foreground: #1d1dd4;
  --accent: #1b076f;
  --accent-foreground: #5555ff;
  --destructive: #ffff42;
  --destructive-foreground: #f2f2f2;
  --border: #1b076f;
  --input: #1b076f;
  --ring: #5555ff;
  --chart-1: #5555ff;
  --chart-2: #1d1dd4;
  --chart-3: #1818b1;
  --chart-4: #11097a;
  --chart-5: #09034f;
  --sidebar: #10052e;
  --sidebar-foreground: #5555ff;
  --sidebar-primary: #5555ff;
  --sidebar-primary-foreground: #10052e;
  --sidebar-accent: #1b076f;
  --sidebar-accent-foreground: #5555ff;
  --sidebar-border: #1b076f;
  --sidebar-ring: #5555ff;
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.1);
  --shadow-xs: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.1);
  --shadow-sm: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.2),
    1px 1px 2px -1px hsl(240 100% 66.0784% / 0.2);
  --shadow: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.2),
    1px 1px 2px -1px hsl(240 100% 66.0784% / 0.2);
  --shadow-md: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.2),
    1px 2px 4px -1px hsl(240 100% 66.0784% / 0.2);
  --shadow-lg: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.2),
    1px 4px 6px -1px hsl(240 100% 66.0784% / 0.2);
  --shadow-xl: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.2),
    1px 8px 10px -1px hsl(240 100% 66.0784% / 0.2);
  --shadow-2xl: 1px 1px 2px 0px hsl(240 100% 66.0784% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
  --animate-orbit: orbit calc(var(--duration) * 1s) linear infinite;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.app-logo span {
  -webkit-text-stroke: 1px black;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}
