@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(249 98.0392% 20%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(249 98.0392% 20%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(249 98.0392% 20%);
  --primary: hsl(244.125 100% 31.3725%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(240 39.1304% 95.4902%);
  --secondary-foreground: hsl(249 98.0392% 20%);
  --muted: hsl(240 20% 97.0588%);
  --muted-foreground: hsl(243.75 38.4615% 40.7843%);
  --accent: hsl(242.8571 48.8372% 91.5686%);
  --accent-foreground: hsl(249 98.0392% 20%);
  --destructive: hsl(10, 77%, 56%);
  --destructive-foreground: hsl(0 0% 100%);
  --border: hsl(248 33.3333% 91.1765%);
  --input: hsl(240 39.1304% 95.4902%);
  --ring: hsl(244.125 100% 31.3725%);
  --chart-1: hsl(244.125 100% 31.3725%);
  --chart-2: hsl(243.3333 84.9057% 41.5686%);
  --chart-3: hsl(243.6145 67.4797% 51.7647%);
  --chart-4: hsl(243.4146 65.7754% 63.3333%);
  --chart-5: hsl(243.6585 67.2131% 76.0784%);
  --sidebar: hsl(247.5 44.4444% 96.4706%);
  --sidebar-foreground: hsl(249 98.0392% 20%);
  --sidebar-primary: hsl(244.125 100% 31.3725%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(242.8571 48.8372% 91.5686%);
  --sidebar-accent-foreground: hsl(249 98.0392% 20%);
  --sidebar-border: hsl(248 33.3333% 91.1765%);
  --sidebar-ring: hsl(244.125 100% 31.3725%);
  --font-sans: Courier New, monospace;
  --font-serif: Courier New, monospace;
  --font-mono: Courier New, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.07);
  --shadow-xs: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.07);
  --shadow-sm: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.15),
    1px 1px 2px -1px hsl(245.035 86.6667% 32.3529% / 0.15);
  --shadow: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.15),
    1px 1px 2px -1px hsl(245.035 86.6667% 32.3529% / 0.15);
  --shadow-md: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.15),
    1px 2px 4px -1px hsl(245.035 86.6667% 32.3529% / 0.15);
  --shadow-lg: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.15),
    1px 4px 6px -1px hsl(245.035 86.6667% 32.3529% / 0.15);
  --shadow-xl: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.15),
    1px 8px 10px -1px hsl(245.035 86.6667% 32.3529% / 0.15);
  --shadow-2xl: 1px 1px 2px 0px hsl(245.035 86.6667% 32.3529% / 0.38);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
}

.dark {
  --background: hsl(256.3636 64.7059% 10%);
  --foreground: hsl(240 94.3503% 65.2941%);
  --card: hsl(250.9091 62.2642% 10.3922%);
  --card-foreground: hsl(240 94.3503% 65.2941%);
  --popover: hsl(250.9091 62.2642% 10.3922%);
  --popover-foreground: hsl(240 94.3503% 65.2941%);
  --primary: hsl(240 94.3503% 65.2941%);
  --primary-foreground: hsl(256.3636 64.7059% 10%);
  --secondary: hsl(251.4286 72.4138% 22.7451%);
  --secondary-foreground: hsl(240 94.3503% 65.2941%);
  --muted: hsl(252.8571 71.7949% 15.2941%);
  --muted-foreground: hsl(240 62.0253% 46.4706%);
  --accent: hsl(251.4286 72.4138% 22.7451%);
  --accent-foreground: hsl(240 94.3503% 65.2941%);
  --destructive: hsl(60 96.9231% 61.7647%);
  --destructive-foreground: hsl(0 0% 94.902%);
  --border: hsl(251.4286 72.4138% 22.7451%);
  --input: hsl(251.4286 72.4138% 22.7451%);
  --ring: hsl(240 94.3503% 65.2941%);
  --chart-1: hsl(240 94.3503% 65.2941%);
  --chart-2: hsl(240 62.0253% 46.4706%);
  --chart-3: hsl(240 62.6263% 38.8235%);
  --chart-4: hsl(244.5652 71.875% 25.098%);
  --chart-5: hsl(245.8065 77.5% 15.6863%);
  --sidebar: hsl(256.3636 64.7059% 10%);
  --sidebar-foreground: hsl(240 94.3503% 65.2941%);
  --sidebar-primary: hsl(240 94.3503% 65.2941%);
  --sidebar-primary-foreground: hsl(256.3636 64.7059% 10%);
  --sidebar-accent: hsl(251.4286 72.4138% 22.7451%);
  --sidebar-accent-foreground: hsl(240 94.3503% 65.2941%);
  --sidebar-border: hsl(251.4286 72.4138% 22.7451%);
  --sidebar-ring: hsl(240 94.3503% 65.2941%);
  --font-sans: Source Code Pro, monospace;
  --font-serif: Source Code Pro, monospace;
  --font-mono: Source Code Pro, monospace;
  --radius: 0.125rem;
  --shadow-2xs: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.1);
  --shadow-xs: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.1);
  --shadow-sm: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.2),
    1px 1px 2px -1px hsl(240 86.5922% 64.902% / 0.2);
  --shadow: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.2),
    1px 1px 2px -1px hsl(240 86.5922% 64.902% / 0.2);
  --shadow-md: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.2),
    1px 2px 4px -1px hsl(240 86.5922% 64.902% / 0.2);
  --shadow-lg: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.2),
    1px 4px 6px -1px hsl(240 86.5922% 64.902% / 0.2);
  --shadow-xl: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.2),
    1px 8px 10px -1px hsl(240 86.5922% 64.902% / 0.2);
  --shadow-2xl: 1px 1px 2px 0px hsl(240 86.5922% 64.902% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.app-logo span {
  -webkit-text-stroke: 1px black;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@keyframes orbit {
  0% {
    transform: rotate(calc(var(--angle) * 1deg))
      translateY(calc(var(--radius) * 1px)) rotate(calc(var(--angle) * -1deg));
  }
  100% {
    transform: rotate(calc(var(--angle) * 1deg + 360deg))
      translateY(calc(var(--radius) * 1px))
      rotate(calc((var(--angle) * -1deg) - 360deg));
  }
}
