@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

:root {
  --background: #ffffff;
  --foreground: #0f0509;
  --card: #fdf7fa;
  --card-foreground: #0f0509;
  --popover: #fdf7fa;
  --popover-foreground: #0f0509;
  --primary: #8c2155;
  --primary-foreground: #ffffff;
  --secondary: #f5eaf0;
  --secondary-foreground: #5c1639;
  --muted: #f5eaf0;
  --muted-foreground: #794d64;
  --accent: #f5eaf0;
  --accent-foreground: #5c1639;
  --destructive: #ef4444;
  --destructive-foreground: #ffffff;
  --border: #ebdde4;
  --input: #ebdde4;
  --ring: #8c2155;
  --chart-1: #8c2155;
  --chart-2: #b04a7b;
  --chart-3: #d473a1;
  --chart-4: #5c1639;
  --chart-5: #380e23;
  --sidebar: #fdf7fa;
  --sidebar-foreground: #0f0509;
  --sidebar-primary: #8c2155;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #f5eaf0;
  --sidebar-accent-foreground: #5c1639;
  --sidebar-border: #ebdde4;
  --sidebar-ring: #8c2155;
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 1px 2px -3px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 2px 4px -3px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 4px 6px -3px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.1),
    0px 8px 10px -3px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0px;
  --spacing: 0.25rem;
}

.dark {
  --background: #140a0f;
  --foreground: #fdf7fa;
  --card: #1e0f17;
  --card-foreground: #fdf7fa;
  --popover: #1e0f17;
  --popover-foreground: #fdf7fa;
  --primary: #c75b8b;
  --primary-foreground: #140a0f;
  --secondary: #381c2a;
  --secondary-foreground: #fdf7fa;
  --muted: #381c2a;
  --muted-foreground: #a68da0;
  --accent: #381c2a;
  --accent-foreground: #fdf7fa;
  --destructive: #7f1d1d;
  --destructive-foreground: #fdf7fa;
  --border: #381c2a;
  --input: #381c2a;
  --ring: #c75b8b;
  --chart-1: #c75b8b;
  --chart-2: #a34973;
  --chart-3: #8c2155;
  --chart-4: #ebc2d5;
  --chart-5: #f5eaf0;
  --sidebar: #1e0f17;
  --sidebar-foreground: #fdf7fa;
  --sidebar-primary: #c75b8b;
  --sidebar-primary-foreground: #140a0f;
  --sidebar-accent: #381c2a;
  --sidebar-accent-foreground: #fdf7fa;
  --sidebar-border: #381c2a;
  --sidebar-ring: #c75b8b;
  --font-sans: Inter;
  --font-serif: Lora;
  --font-mono: Fira Code;
  --radius: 0.5rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.1);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.1);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.2),
    0px 1px 2px -3px hsl(0 0% 0% / 0.2);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.2),
    0px 1px 2px -3px hsl(0 0% 0% / 0.2);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.2),
    0px 2px 4px -3px hsl(0 0% 0% / 0.2);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.2),
    0px 4px 6px -3px hsl(0 0% 0% / 0.2);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.2),
    0px 8px 10px -3px hsl(0 0% 0% / 0.2);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.5);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
}

body {
  letter-spacing: var(--tracking-normal);
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

.app-logo span {
  -webkit-text-stroke: 1px black;
}

@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
