@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root  {
    --background: 48 100% 95%;
    --foreground: 48 5% 0%;
    --card: 48 50% 90%;
    --card-foreground: 48 5% 10%;
    --popover: 48 100% 95%;
    --popover-foreground: 48 100% 0%;
    --primary: 48 94% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 48 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 10 30% 85%;
    --muted-foreground: 48 5% 35%;
    --accent: 10 30% 80%;
    --accent-foreground: 48 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 48 5% 90%;
    --border: 48 30% 50%;
    --input: 48 30% 18%;
    --ring: 48 94% 80%;
    --radius: 0.5rem;
  }

  .dark  {
    --background: 48 50% 5%;
    --foreground: 48 5% 90%;
    --card: 48 50% 0%;
    --card-foreground: 48 5% 90%;
    --popover: 48 50% 5%;
    --popover-foreground: 48 5% 90%;
    --primary: 48 94% 80%;
    --primary-foreground: 0 0% 0%;
    --secondary: 48 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 10 30% 15%;
    --muted-foreground: 48 5% 60%;
    --accent: 10 30% 15%;
    --accent-foreground: 48 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 48 5% 90%;
    --border: 48 30% 18%;
    --input: 48 30% 18%;
    --ring: 48 94% 80%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}